<% include ./partials/header.ejs %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <style>
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .autoplay-progress {
            position: absolute;
            right: 16px;
            bottom: 16px;
            z-index: 10;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: var(--swiper-theme-color);
        }

        .autoplay-progress svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: var(--swiper-theme-color);
            fill: none;
            stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/doctorpage.css">

    <body>
        <% include ./partials/navbar.ejs %>
            <% include ./partials/forms.ejs %>
                <% include ./partials/toast.ejs %>

                    <main class="scrollbar">

                        <div class="heading">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">Slide 1</div>
                                    <div class="swiper-slide">Slide 2</div>
                                    <div class="swiper-slide">Slide 3</div>
                                    <div class="swiper-slide">Slide 4</div>
                                    <div class="swiper-slide">Slide 5</div>
                                    <div class="swiper-slide">Slide 6</div>
                                    <div class="swiper-slide">Slide 7</div>
                                    <div class="swiper-slide">Slide 8</div>
                                    <div class="swiper-slide">Slide 9</div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                                <div class="autoplay-progress">
                                    <svg viewBox="0 0 48 48">
                                        <circle cx="24" cy="24" r="20"></circle>
                                    </svg>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="conatiners">
                            <% doctors.forEach(element=> {%>
                                <div class="container w-full my-3">
                                    <h1 class="text-lg mb-2 ms-4">
                                        <%=element._id %>
                                    </h1>
                                    <div class="cards scrollbar">
                                        <% element.doctors.forEach(item=> {%>
                                            <div class="card inline-block" style="width: 18rem;">
                                                <div class="image">
                                                    <img src="<%=item.image %>" class="card-img-top" alt="...">
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%=item.name %>
                                                    </h5>
                                                    <div class="card-text text-sm">
                                                        <p class="">Location:<%=item.clinicLocation %>
                                                        </p>
                                                        <p class="">Speciality:<%=item.speciality %>
                                                        </p>
                                                        <p class="">Contact No:<%=item.contactNo %>
                                                        </p>
                                                        <p class="">Timing :<%=item.timing %>
                                                        </p>
                                                        <p class="">Days :<%=item.days %>
                                                        </p>
                                                    </div>
                                                    <button data-id="<%=item._id %>" class="btn btn-info"
                                                        onclick="book(event)">Book</button>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </div>
                                <% }); %>
                        </div>

                    </main>

                    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


                    <script>
                        const progressCircle = document.querySelector(".autoplay-progress svg");
                        const progressContent = document.querySelector(".autoplay-progress span");
                        var swiper = new Swiper(".mySwiper", {
                            spaceBetween: 30,
                            centeredSlides: true,
                            autoplay: {
                                delay: 2500,
                                disableOnInteraction: false
                            },
                            pagination: {
                                el: ".swiper-pagination",
                                clickable: true
                            },
                            navigation: {
                                nextEl: ".swiper-button-next",
                                prevEl: ".swiper-button-prev"
                            },
                            on: {
                                autoplayTimeLeft(s, time, progress) {
                                    progressCircle.style.setProperty("--progress", 1 - progress);
                                    progressContent.textContent = `${Math.ceil(time / 1000)}s`;
                                }
                            }
                        });
                    </script>
                    <script>
                        const containers = document.querySelectorAll('.cards');
                        let isDragging = false;
                        let startX, scrollLeft;

                        containers.forEach(container => {
                            container.addEventListener('mousedown', (e) => {
                                isDragging = true;
                                startX = e.pageX - container.offsetLeft;
                                scrollLeft = container.scrollLeft;
                            });

                            container.addEventListener('mouseleave', () => {
                                isDragging = false;
                            });

                            container.addEventListener('mouseup', () => {
                                isDragging = false;
                            });

                            container.addEventListener('mousemove', (e) => {
                                if (!isDragging) return;
                                e.preventDefault();
                                const x = e.pageX - container.offsetLeft;
                                const walk = (x - startX) * .5;
                                container.scrollLeft = scrollLeft - walk;
                            });
                        });


                        function book(event) {
                            const id = event.target.getAttribute('data-id')
                            localStorage.setItem("id", id)
                        }
                    </script>
                    <% include ./partials/footer.ejs %>