<% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/doctordashboard.css">

    <body>
        <% include ./partials/toast.ejs %>
            <main class="flex gap-1">
                <% include ./partials/doctorsnavbar.ejs %>
                    <div class="card absolute top-50 start-50 translate-middle pt-1 p-3 flex gap-2 justify-end invisible"
                        data-bs-theme="dark" id="add-tips-card">
                        <div class="icon flex flex-end "><i role="button" class='bx bxs-x-circle text-md '
                                onclick="closeTipsBtn()"></i></div>
                        <div class="form-floating h-full">
                            <textarea class="form-control" placeholder="Leave a comment here" id="tips"
                                style="height: 100px" name="tips"></textarea>
                            <label for="tips">Add Tips</label>
                        </div>
                        <button class="btn btn-info" id="add-tips-btn" onclick="addTips()">Add</button>
                    </div>
                    <section class="">
                        <nav class="w-full flex flex-end gap-3 items-center">
                            <button class="btn btn-secondary flex items-center" onclick="addTipsForm()">
                                <i class='bx bx-message-square-add'></i>
                                Add Tips
                            </button>
                            <button class="btn btn-warning flex items-center" onclick="emergency()">
                                <span class="material-symbols-outlined" aria-disabled="true">
                                    emergency_home
                                </span>
                                Emergency
                            </button>
                            <div class="content flex items-end gap-1" id="show-date">
                                <div class="text">
                                    <% const days=['Sunday', 'Monday' , 'Tuesday' , 'Wednesday' , 'Thursday' , 'Friday'
                                        , 'Saturday' ] %>
                                        <p class="text-xs opacity-6">
                                            <%=date.dayOfWeek %>
                                        </p>
                                        <h3 class="text-basic">
                                            <%=date.date %>
                                        </h3>
                                </div>
                                <span class="material-symbols-outlined" id="calender-ico">
                                    calendar_month
                                </span>
                            </div>

                        </nav>
                        <div>
                            <h2 class="text-underline">Status</h2>

                            <div class="cards flex flex-wrap gap-4">
                                <a href="/doctor/allpatients" class="card-mp flex items-center gap-2 justify-around">
                                    <div class="texts">
                                        <p class="text-md">1</p>
                                        <h3 class="text-basic">All Paitents</h3>
                                    </div><span class="material-symbols-outlined">
                                        diversity_1
                                    </span>
                                </a>
                                <a href="/doctor/sessioninfo" class="card-mp flex items-center gap-2 justify-around">
                                    <div class="texts">
                                        <p class="text-md">1</p>
                                        <h3 class="text-basic">NewBookings</h3>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        fiber_new
                                    </span>
                                </a>
                                <a href="#" class="card-mp flex items-center gap-2 justify-around">
                                    <div class="texts">
                                        <p class="text-md">1</p>
                                        <h3 class="text-basic">Today</h3>
                                    </div>
                                    <span class="material-symbols-outlined">
                                        today
                                    </span>
                                </a>
                            </div>

                        </div>
                        <div class="mt-3 w-full scrollbar" id="table-sec">
                            <h2>Todays Session</h2>
                            <div class="rounded-4">
                                <div class="table-div">
                                    <table class="table table-striped table-dark m-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">age</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% appointments.forEach((element,index)=> {%>
                                                <tr>
                                                    <th scope="row">
                                                        <%=index+1 %>
                                                    </th>
                                                    <td>
                                                        <%=element.fullname %>
                                                    </td>
                                                    <td>
                                                        <%=element.age %>
                                                    </td>
                                                    <td>
                                                        <%=element.email %>
                                                    </td>
                                                    <td>
                                                        <%=element.status %>
                                                    </td>
                                                    <td>
                                                        <%=element.time %>
                                                    </td>
                                                    <td class="flex gap-4 items-center">
                                                        <div class="mycontainer">
                                                            <% if (element.status==="SUCCESS" ) { %>
                                                                <input type="checkbox" checked class="cbx"
                                                                    id="<%=element._id %>" style="display: none;"
                                                                    onclick="appDone('<%=element._id %>')">
                                                                <% }else{ %>
                                                                    <input type="checkbox" class="cbx"
                                                                        id="<%=element._id %>" style="display: none;"
                                                                        onclick="appDone('<%=element._id %>')">
                                                                    <% } %>

                                                                        <label for="<%=element._id %>" class="check">
                                                                            <svg width="28px" height="28px"
                                                                                viewBox="0 0 18 18">
                                                                                <path
                                                                                    d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                                                                </path>
                                                                                <polyline points="1 9 7 14 15 4">
                                                                                </polyline>
                                                                            </svg>
                                                                        </label>
                                                        </div>
                                                        <button
                                                            class="btn btn-danger p-1 flex justify-center items-center"
                                                            onclick="appCancel('<%=element._id %>')"><i
                                                                class='bx bx-x text-md'></i></button>
                                                    </td>
                                                </tr>
                                                <% }); %>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
            </main>


            <script>
                window.onload = function () {
                    localStorage.clear()
                }
            </script>
            <script src="/javascripts/doctorDashboard.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <% include ./partials/footer.ejs %>